html,
body {
    margin: 0;
    padding: 0;
}

.is-preload {
    animation: changeBackgroundImage 13s infinite;
}

@keyframes changeBackgroundImage {
    0% {
        background-image: url('./bg01.jpg');
    }
    50% {
        background-image: url('./bg02.jpg');
    }
    100% {
        background-image: url('./bg03.jpg');
    }
}

.header {
    text-align: left;
}

.header h1 {
    font-size: 3.25em;
    margin: 0 0 0.55em 0;
}

.header p {
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    margin: 0 0 1.5em 0; 
}

#signup-form {
    border-color: aqua;
    
}